<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .search-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        #searchOwnership {
            margin-right: 10px;
            padding: 0.5em;
            border-radius: 5px;
        }    
        
        
        button {
            padding: 0.5em 1em;
            border: none;
            border-radius: 5px;
            background-color: #3b5534;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        button:hover {
            background-color: #15400e;
        }

        .close-btn-form {
            background-color: #ccc;
            color: #333;
            border: none;
            border-radius: 5px;
            padding: 0.3em 0.5em;
            cursor: pointer;
        }

        .close-btn-form:hover {
            background-color: #999;
            color: #fff;
        }   

    </style>
</head>
<body>
    <header>
        <h1>Flächen</h1>
    </header>

    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('livestock') }}">Tierbestand</a>
        <a href="{{ url_for('feedstock') }}">Futterbestand</a>
        <a href="{{ url_for('vehicles') }}">Fahrzeuge</a>
        <a href="{{ url_for('harvest') }}">Ernteertrag</a>
    </nav>

    <main>
        <div class="search-container">
            <label for="searchOwnership">Suche nach:</label>
            <select id="searchOwnership" name="searchOwnership">
                <option value="eigenbesitz">Eigenbesitz</option>
                <option value="gepachtet">Gepachtet</option>
            </select>
            <button onclick="searchLands()">Suchen</button>
        </div>
    
        <div id="searchResult" style="display: none;">
            <h2>Suchergebnisse <button class="close-btn-form" onclick="closeSearchResult()">X</button></h2>
            <table>
                <thead>
                </thead>
                <tbody id="searchList">
                </tbody>
            </table>
        </div>        
    
        <div class="btn-container">
            <button onclick="showAddForm()">Fläche hinzufügen</button>
            <button onclick="showList()">Flächen anzeigen</button>
        </div>

        <div id="addForm" style="display: none;">
            <h2>Fläche hinzufügen <button class="close-btn-form" onclick="closeForm('addForm')">X</button></h2>
            <form method="post" action="{{ url_for('add_land') }}">
                <label for="type">Typ:</label>
                <input type="text" id="type" name="type" required>
                <label for="size">Größe:</label>
                <input type="text" id="size" name="size" required>
                <label for="unit">Einheit:</label>
                <select id="unit" name="unit">
                    <option value="m²">m²</option>
                    <option value="a">a</option>
                    <option value="ha">ha</option>
                    <option value="km²">km²</option>
                </select>
                <label for="ownership">Besitz:</label>
                <select id="ownership" name="ownership" onchange="toggleOwnershipFields()">
                    <option value="eigenbesitz">Eigenbesitz</option>
                    <option value="gepachtet">Gepachtet</option>
                </select>

                <div id="ownershipFields" style="display: none;">
                    <label for="firstName">Vorname:</label>
                    <input type="text" id="firstName" name="firstName">
                    <label for="lastName">Nachname:</label>
                    <input type="text" id="lastName" name="lastName">
                    <label for="phoneNumber">Telefonnummer:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber">
                    <label for="addressStreet">Straße:</label>
                    <input type="text" id="addressStreet" name="addressStreet">
                    <label for="addressCity">Stadt:</label>
                    <input type="text" id="addressCity" name="addressCity">
                    <label for="addressState">Bundesland:</label>
                    <input type="text" id="addressState" name="addressState">
                    <label for="addressZipCode">PLZ:</label>
                    <input type="text" id="addressZipCode" name="addressZipCode">
                </div>

                <button type="submit">Fläche hinzufügen</button>
            </form>
        </div>

        <div id="editForm" style="display: none;">
            <h2>Fläche bearbeiten <button class="close-btn-form" onclick="closeEditForm()">X</button></h2>
            <form method="post" action="{{ url_for('edit_land') }}">
                <input type="hidden" id="editId" name="editId">
                <label for="editType">Typ:</label>
                <input type="text" id="editType" name="editType" required>
                <label for="editSize">Größe:</label>
                <input type="text" id="editSize" name="editSize" required>
                <label for="editUnit">Einheit:</label>
                <select id="editUnit" name="editUnit">
                    <option value="m²">m²</option>
                    <option value="a">a</option>
                    <option value="ha">ha</option>
                    <option value="km²">km²</option>
                </select>
                <label for="editOwnership">Besitz:</label>
                <select id="editOwnership" name="editOwnership" onchange="toggleEditOwnershipFields()">
                    <option value="eigenbesitz">Eigenbesitz</option>
                    <option value="gepachtet">Gepachtet</option>
                </select>

                <div id="editOwnershipFields" style="display: none;">
                    <label for="editFirstName">Vorname:</label>
                    <input type="text" id="editFirstName" name="editFirstName">
                    <label for="editLastName">Nachname:</label>
                    <input type="text" id="editLastName" name="editLastName">
                    <label for="editPhoneNumber">Telefonnummer:</label>
                    <input type="text" id="editPhoneNumber" name="editPhoneNumber">
                    <label for="editAddressStreet">Straße:</label>
                    <input type="text" id="editAddressStreet" name="editAddressStreet">
                    <label for="editAddressCity">Stadt:</label>
                    <input type="text" id="editAddressCity" name="editAddressCity">
                    <label for="editAddressState">Bundesland:</label>
                    <input type="text" id="editAddressState" name="editAddressState">
                    <label for="editAddressZipCode">PLZ:</label>
                    <input type="text" id="editAddressZipCode" name="editAddressZipCode">
                </div>

                <button type="submit">Fläche aktualisieren</button>
            </form>
        </div>

        <div id="landList" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Größe</th>
                        <th>Besitz</th>
                        <th>Einheit</th> 
                        <th>Aktionen</th>
                    </tr>
                </thead>
                <tbody id="list">
                    {% for land in lands %}
                        <tr>
                            <td>{{ land.type }}</td>
                            <td>{{ land.size }}</td>
                            <td>{{ land.ownership }}</td>
                            <td>{{ land.unit }}</td> 
                            <td>
                                <button onclick="deleteLand('{{ land.id }}')">Löschen</button>
                                <button onclick="showEditForm('{{ land.id }}', '{{ land.type }}', '{{ land.size }}', '{{ land.ownership }}', '{{ land.unit }}')">Edit</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Landwirtschafts-Informationssystem</p>
    </footer>

    <script>
        function searchLands() {
            const searchOwnership = document.getElementById('searchOwnership').value;
        
            fetch(`/search_lands?ownership=${searchOwnership}`)
                .then(response => response.json())
                .then(data => {
                    const searchResultDiv = document.getElementById('searchResult');
                    const searchListBody = document.getElementById('searchList');
        
                    searchListBody.innerHTML = '';
                    searchResultDiv.style.display = 'block';
        
                    const tableHeader = document.createElement('thead');
                    const tableBody = document.createElement('tbody');
        
                    if (searchOwnership === 'eigenbesitz') {
                        tableHeader.innerHTML = '<tr><th>Typ</th><th>Größe</th><th>Besitz</th><th>Einheit</th></tr>';
        
                        data.forEach(land => {
                            const row = tableBody.insertRow();
                            const typeCell = row.insertCell(0);
                            const sizeCell = row.insertCell(1);
                            const ownershipCell = row.insertCell(2);
                            const unitCell = row.insertCell(3);
        
                            typeCell.textContent = land.type;
                            sizeCell.textContent = land.size;
                            ownershipCell.textContent = land.ownership;
                            unitCell.textContent = land.unit;
                        });
                    } else if (searchOwnership === 'gepachtet') {
                        tableHeader.innerHTML = '<tr><th>Typ</th><th>Größe</th><th>Besitz</th><th>Einheit</th><th>Vorname</th><th>Nachname</th><th>Telefonnummer</th><th>Straße</th><th>Stadt</th><th>Bundesland</th><th>PLZ</th></tr>';
        
                        data.forEach(land => {
                            const row = tableBody.insertRow();
                            const typeCell = row.insertCell(0);
                            const sizeCell = row.insertCell(1);
                            const ownershipCell = row.insertCell(2);
                            const unitCell = row.insertCell(3);
                            const firstNameCell = row.insertCell(4);
                            const lastNameCell = row.insertCell(5);
                            const phoneNumberCell = row.insertCell(6);
                            const streetCell = row.insertCell(7);
                            const cityCell = row.insertCell(8);
                            const stateCell = row.insertCell(9);
                            const zipCodeCell = row.insertCell(10);
        
                            typeCell.textContent = land.type;
                            sizeCell.textContent = land.size;
                            ownershipCell.textContent = land.ownership;
                            unitCell.textContent = land.unit;
        
                            if (land.person) {
                                firstNameCell.textContent = land.person.first_name;
                                lastNameCell.textContent = land.person.last_name;
                                phoneNumberCell.textContent = land.person.phone_number;
        
                                if (land.person.address) {
                                    streetCell.textContent = land.person.address.street;
                                    cityCell.textContent = land.person.address.city;
                                    stateCell.textContent = land.person.address.state;
                                    zipCodeCell.textContent = land.person.address.zip_code;
                                }
                            }
                        });
                    }
        
                    searchListBody.appendChild(tableHeader);
                    searchListBody.appendChild(tableBody);
                })
                .catch(error => console.error('Fehler beim Suchen der Flächen:', error));
        }

        function closeSearchResult() {
            document.getElementById('searchResult').style.display = 'none';
        }

        function showEditForm(id, type, size, ownership) {
            document.getElementById('addForm').style.display = 'none';
            document.getElementById('landList').style.display = 'none';
        
            const editForm = document.getElementById('editForm');
            editForm.style.display = 'block';
        
            document.getElementById('editType').value = type;
            document.getElementById('editSize').value = size;
            document.getElementById('editOwnership').value = ownership;
            document.getElementById('editId').value = id;
        
            fetch(`/get_land_details?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('editType').value = data.type;
                    document.getElementById('editSize').value = data.size;
                    document.getElementById('editOwnership').value = data.ownership;
        
                    if (data.ownership === 'gepachtet') {
                        document.getElementById('editFirstName').value = data.person.first_name;
                        document.getElementById('editLastName').value = data.person.last_name;
                        document.getElementById('editPhoneNumber').value = data.person.phone_number;
        
                        document.getElementById('editAddressStreet').value = data.person.address.street;
                        document.getElementById('editAddressCity').value = data.person.address.city;
                        document.getElementById('editAddressState').value = data.person.address.state;
                        document.getElementById('editAddressZipCode').value = data.person.address.zip_code;
                    }
                })
                .catch(error => console.error('Error fetching land details:', error));
        
            toggleEditOwnershipFields();
        }
        

        function deleteLand(id) {
            fetch(`/delete_land?id=${id}`, {
                method: 'GET',
            })
            .then(response => {
                if (response.ok) {
                    const tableBody = document.getElementById('list');
                    const rows = tableBody.getElementsByTagName('tr');

                    for (let i = 0; i < rows.length; i++) {
                        const cells = rows[i].getElementsByTagName('td');
                        if (cells[0].textContent === id) {
                            tableBody.deleteRow(i);
                            break;
                        }
                    }

                    location.reload();
                } else {
                    console.error('Fehler beim Löschen der Fläche:', response.statusText);
                }
            })
            .catch(error => console.error('Fehler beim Löschen der Fläche:', error));
        }

        function closeEditForm() {
            document.getElementById('editForm').style.display = 'none';
            showList(); 
        }

        function closeForm(formId) {
            document.getElementById(formId).style.display = 'none';
        }

    
        function showAddForm() {
            document.getElementById('addForm').style.display = 'block';
            document.getElementById('landList').style.display = 'none';
            document.getElementById('updateForm').style.display = 'none';

            toggleOwnershipFields();
        }

        function showList() {
            document.getElementById('addForm').style.display = 'none';
            document.getElementById('landList').style.display = 'block';
            document.getElementById('updateForm').style.display = 'none';
        
            fetch('/getlands')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('list');
                    tableBody.innerHTML = '';
        
                    data.forEach(land => {
                        const row = tableBody.insertRow();
                        const typeCell = row.insertCell(0);
                        const sizeCell = row.insertCell(1);
                        const ownershipCell = row.insertCell(2);
                        const actionsCell = row.insertCell(3);
        
                        typeCell.textContent = land.type;
                        sizeCell.textContent = land.size;
                        ownershipCell.textContent = land.ownership;
        
                        const deleteButton = document.createElement('button');
                        deleteButton.textContent = 'Löschen';
                        deleteButton.onclick = function () {
                            deleteLand(land.id);
                        };
        
                        const editButton = document.createElement('button');
                        editButton.textContent = 'Edit';
                        editButton.onclick = function () {
                            showEditForm(land.id, land.type, land.size, land.ownership);
                        };
        
                        actionsCell.appendChild(deleteButton);
                        actionsCell.appendChild(editButton);
                    });
                })
                .catch(error => console.error('Fehler beim Abrufen der Flächen:', error));
        }
        

        function toggleOwnershipFields() {
            const ownership = document.getElementById('ownership').value;
            const ownershipFields = document.getElementById('ownershipFields');

            if (ownership === 'gepachtet') {
                ownershipFields.style.display = 'block';
            } else {
                ownershipFields.style.display = 'none';
            }
        }

        function toggleEditOwnershipFields() {
            const ownership = document.getElementById('editOwnership').value;
            const ownershipFields = document.getElementById('editOwnershipFields');

            if (ownership === 'gepachtet') {
                ownershipFields.style.display = 'block';
            } else {
                ownershipFields.style.display = 'none';
            }
        }
    </script>
</body>
</html>